<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <META http-equiv="x-ua-compatible" content="ie=edge">
        <META NAME="robots" CONTENT="noindex">
        <META name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <title>Got something to sell?</title>
    </head>

    <body class="container my-3">
        <h1 class="display-3 font-weight-bold"><%= contacts.length %> people want kapp!</h1>
         <table class="table table-striped table-sm my-3">
            <thead>
            <tr>
              <th>Email</th>
              <th>Mobile no.</th>
            </tr>
          </thead>
          <tbody>
            <% for (let contact of contacts) { %>
                <tr>
                  <td><%= contact.email %></td>
                  <td><%= contact.mobileNumber %></td>
                </tr>
            <% } %>
          </tbody>
        </table>    
    </body>
</html>