#home-section {
  min-height: 650px; }

.kapp-logo {
  size: cover;
  width: 150px;
  height: 150px; }

form {
  width: 400px; }

#theme-section {
  background-color: #23272b;
  min-height: 650px; }

.concept-img {
  height: 730;
  width: 550px; }

f-links {
  text-decoration: underline; }

.thanks-gif {
  width: 620px;
  height: 350px; }

/*----Responsive----*/
@media only screen and (max-width: 600px) {
  #home-section h1 {
    
  }
} 